<%- include('partials/header'); -%>
<h1>Compose</h1>
<form class="" action="/compose" method="post">
  <div class="mb-3">
  <label  class="form-label">Title</label>
  <input type="text" class="form-control" name="postTitle">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Post</label>
  <textarea class="form-control" id="exampleFormControlTextarea1"  name="postBody" rows="3"></textarea>
  <button type="submit" name="button" class="btn btn-primary btn-public">Publish</button>
</div>
</form>
<%- include('partials/footer'); -%>
